@layer base {
  :root {
    --primary-100: #e3ccff;
    --primary-200: #c799ff;
    --primary-300: #ab66ff;
    --primary-400: #8f33ff;
    --primary-500: #7300ff;
    --primary-600: #5c00cc;
    --primary-700: #450099;
    --primary-800: #2e0066;
    --primary-900: #170033;
    --primary-1000: #7c2bff;

    --neutral-50: #f6f6f6;
    --neutral-100: #ffffff;
    --neutral-200: #e6e6e6;
    --neutral-300: #cccccc;
    --neutral-400: #b3b3b3;
    --neutral-500: #999999;
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-900: #1a1a1a;
    --neutral-1000: #626262;

    --secondary-100: #fafaff;
    --secondary-200: #ccccff;
    --secondary-300: #9999ff;
    --secondary-400: #6666ff;
    --secondary-500: #3333ff;
    --secondary-600: #0000cc;
    --secondary-700: #000099;
    --secondary-800: #000066;
    --secondary-900: #000033;

    --accent-100: #7c2bff;

    --black-100: #000000;
    --black-200: #d9d9d9;

    --blue-100: #dff1ff;
    --blue-200: #53b1fd26;
    --blue-300: #53b1fd;

    --green-100: #d8f7e8;
    --green-200: #f0feed;

    --orange-100: #fdb02230;
    --orange-200: #fdb02226;

    --red-100: #fef6f6;
    --red-200: #f9706626;

    --red-card: #f97066;
    --orange-card: #fdb022;
    --blue-card: #53b1fd;
    --green-card: #32d583;

    --action-eyes: #4066b1;
    --surface-soft: #f6f6f6;
    --surface-pastel: #f9f9f9;
    --surface-highlight: #ffe0fc;
    --chart-grid: #e2e8f0;
    --chart-axis: #94a3b8;
    --overlay-backdrop: #00000085;
  }
}
