@layer base {
  :root {
    --ds-ui-scale: 0.9;

    --ds-dim-dialog-max-h: 90dvh;
    --ds-dim-search-min-w: calc(5rem * var(--ds-ui-scale));
    --ds-dim-search-max-w: calc(8.75rem * var(--ds-ui-scale));
  }

  @media (min-width: 640px) {
    :root {
      --ds-dim-search-min-w: calc(6rem * var(--ds-ui-scale));
      --ds-dim-search-max-w: calc(10rem * var(--ds-ui-scale));
    }
  }

  @media (min-width: 768px) {
    :root {
      --ds-dim-search-min-w: calc(8.75rem * var(--ds-ui-scale));
      --ds-dim-search-max-w: calc(12.5rem * var(--ds-ui-scale));
    }
  }

  @media (min-width: 1024px) {
    :root {
      --ds-dim-search-min-w: calc(11.25rem * var(--ds-ui-scale));
      --ds-dim-search-max-w: calc(20rem * var(--ds-ui-scale));
    }
  }

  @media (min-width: 1280px) {
    :root {
      --ds-dim-search-max-w: calc(24rem * var(--ds-ui-scale));
    }
  }
}
