@layer base {
  :root {
    --font-family-sans: Lexend, sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-button: 300;

    --font-5xl: calc(48px * var(--ds-ui-scale, 1));
    --font-4xl: calc(36px * var(--ds-ui-scale, 1));
    --font-3xl: calc(30px * var(--ds-ui-scale, 1));
    --font-2xl: calc(32px * var(--ds-ui-scale, 1));
    --font-2xl-compact: calc(28px * var(--ds-ui-scale, 1));
    --font-xl: calc(24px * var(--ds-ui-scale, 1));
    --font-lg: calc(20px * var(--ds-ui-scale, 1));
    --font-md: calc(16px * var(--ds-ui-scale, 1));
    --font-sm: calc(15px * var(--ds-ui-scale, 1));
    --font-xs: calc(14px * var(--ds-ui-scale, 1));
    --font-xxs: calc(13px * var(--ds-ui-scale, 1));
    --font-3xs: calc(12px * var(--ds-ui-scale, 1));
    --font-4xs: calc(11px * var(--ds-ui-scale, 1));
    --font-5xs: calc(10px * var(--ds-ui-scale, 1));
    --font-6xs: calc(9px * var(--ds-ui-scale, 1));
    --font-7xs: calc(8px * var(--ds-ui-scale, 1));
    --font-8xs: calc(7px * var(--ds-ui-scale, 1));
    --font-9xs: calc(6px * var(--ds-ui-scale, 1));
    --font-fluid-6xs: calc(0.4rem * var(--ds-ui-scale, 1));
    --font-fluid-5xs: calc(0.5rem * var(--ds-ui-scale, 1));
    --font-fluid-4xs: calc(0.55rem * var(--ds-ui-scale, 1));
    --font-fluid-3xs: calc(0.625rem * var(--ds-ui-scale, 1));
  }
}
